<template>
  <button class="burger-wrapper" @click="burgerClose" :class="{circle_white: isActive}">
    <span class="burger-line" :class="{active: isActive}"></span>
    <span class="burger-line" :class="{active: isActive}"></span>
    <span class="burger-line" :class="{active: isActive}"></span>
  </button>
</template>

<script>
export default {
  data(){
    return{
      isActive: false,
    }
  },
  methods: {
    burgerClose() {
      this.isActive = !this.isActive;
    },
  }
}
</script>

<style scoped lang="sass">
.burger-wrapper
  position: absolute
  width: 40px
  height: 40px
  background: none
  border: solid 3px rgb(25, 32, 69)
  border-radius: 100%
  right: 50px
  display: flex
  justify-content: space-around
  flex-direction: column
  align-items: center
  padding: 8px 0
  transition: 0.5s all
  &:hover
    cursor: pointer
.circle_white
  border: solid 3px rgb(255, 255, 255)
.burger-line
  display: block
  height: 3px
  width: 25px
  background-color: rgb(25, 32, 69)
  transition: 0.5s all
.active
  &:nth-child(1)
    transform: rotate(45deg) translateX(3px) translateY(3px)
    background: rgb(255, 255, 255)
  &:nth-child(2)  
    display: none
  &:nth-child(3)
    transform: rotate(-45deg) translateX(3px) translateY(-3px)
    background: rgb(255, 255, 255)
      

  
  // &:before
  //   content: ''
  //   position: absolute
  //   background-color: rgb(25, 32, 69)
  //   transition: 0.5s all
  //   height: 3px
  //   width: 35px
  //   margin-top: 5px
  // &::after
  //   content: ''
  //   position: absolute
  //   background-color: rgb(25, 32, 69)
  //   transition: 0.5s all
  //   height: 3px
  //   width: 35px
  //   margin-top: 10px
</style>