<template>
  
    <router-link to="#" class="router-link">
      <img class="logo" src="@/assets/img/logo.svg" alt="logo">
    </router-link>
  
</template>

<script>

</script>

<style scoped lang="sass">
// .logo-wrapper
//   transition: all 0.3s
.router-link
  transition: all 0.3s
  &:hover
    transform: scale(1.03)  
.logo
  width: 100%
  height: 100%
</style>