<template>
  <div class="menu-wrapper">
    <div>тут будут копки</div>
    <div>тут будут пункты меню</div>
  </div>
</template>

<script>

</script>

<style scoped lang="sass">
.menu-wrapper
  width: 20%
  height: 100%
  background: rgb(25, 32, 69)
  color: rgb(255, 255, 255)
  
</style>